<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div ng-include="'app/main/sidebar.html'"></div>
        <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
            <h1 class="page-header"><span ng-bind="getTitle()"></span></h1>
            <ul class="nav nav-tabs">
                <li ng-class="{active: shouldShowChart}">
                    <a href="" ng-click="showChart()">Chart</a>
                </li>
                <li ng-class="{active: !shouldShowChart}">
                    <a href="" ng-click="showData()">Data</a>
                </li>
            </ul>
            <div>content here</div>
            <!--<div ng-view></div>-->
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
      <p>vSeeU |
        <a href="https://github.com/swzhou">@swzhou</a></p>
  </div>
</footer>
